body {
    background-color: #202020;
}

.header {
    background: transparent;
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
    position:absolute;
    z-index: auto;
}

.black {
    background-color: #323232;
    width: 1920px;
    height: 90px;
    opacity: 70%;
    filter: blur(50px);
    position: absolute;
    z-index: 0;
}

.header_div {
    text-decoration: none;
    color: #DEDEDE;
    font-family: 'Manrope Bold', sans-serif;
    font-size: 18px;
    padding-right: 80px;
    margin-left: -35px;
}
.logo {
    margin-right: 40cm;
    width: 60px;
    position: relative;
}

.logo_text {
    color: white;
    font-family: 'Manrope Bold', sans-serif;
    margin-right: 41.3cm;
    position: absolute;
    font-size:30px;
}

.secblock {
    display:grid;
}

.secblock-tm {
    color: #a5a5a5;
    font-size: 16px;
    font-family: 'Manrope Bold', sans-serif;
}