body {
    background-color: #202020;
}

.header {
    background: transparent;
    width: 1920px;
    height: 90px;
    display: flex;
    justify-content: right;
    align-items: center;
    position:absolute;
    z-index: auto;
}

.black {
    background-color: #323232;
    width: 1920px;
    height: 90px;
    opacity: 70%;
    filter: blur(50px);
    position: absolute;
    z-index: 0;
}

.header_div {
    text-decoration: none;
    color: #DEDEDE;
    font-family: 'Manrope Bold', sans-serif;
    font-size: 18px;
    padding-right: 80px;
    margin-left: -35px;
}
.logo {
    margin-right: 40cm;
    width: 60px;
    position: relative;
}

.logo_text {
    color: white;
    font-family: 'Manrope Bold', sans-serif;
    margin-right: 41.3cm;
    position: absolute;
    font-size:30px;
}

.secblock {
    display:grid;
}

.secblock-ts {
    color: #DEDEDE;
    font-size: 16px;
    font-family: 'Manrope Bold', sans-serif;
    margin-top: 150px;
    margin-left: 70px;
    letter-spacing: 1.5px;
    opacity: 70%;
    font-weight: 600;
}

.secblock-tm {
    color: #DEDEDE;
    font-family: 'Manrope Bold', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: 70%;
    font-size: 16px;
}


.secblock-tb {
    color: #DEDEDE;
    font-family: 'Manrope Bold', sans-serif;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 32px;
    letter-spacing: -0.5px;
    line-height: 48px;
    font-weight: 600
}
